@import "NowPlaying";
@import "PluginSettings";
@import "SinglePluginSettings";
@import "ActivityList";
@import "Settings";
@import "Node";
@import "ActivityNode";
@import "RequestNode";

@Display: #bb4d00;
@Activity: #00796b;
@borderRadius: 10px;
@flowBorderSize: 2px;
@flowBorder: @flowBorderSize solid @Activity;
body {
  background-color: white;
  font-size: 15px;
}

#content {
  max-width: 900px;
  margin: 0 auto;
}



